<div class="row mx-0 justify-content-center pt-4">
  <a
    routerLink="/empleados/crear"
    class="btn btn-primary col-auto btn-create"
  >
    Crear empleado
  </a>
  <h5 class="text-center text-effective">Empleados registrados</h5>
  <div class="table-responsive">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="table mt-5"
    >
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Nombre completo</th>
          <th>Email</th>
          <th>Cargo</th>
          <th>Empresa</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let n = index">
          <td>{{ n + 1 }}</td>
          <td><span class="text-capitalize">{{ employee.name }} {{ employee.lastname }}</span></td>
          <td>{{ employee.email }}</td>
          <td>
            <span class="text-capitalize">
              {{ employee.position[0].position }}
            </span>
          </td>
          <td>
            <span class="text-capitalize">
              {{ employee.company[0].name }}
            </span>
          </td>
          <td>
            <div class="row justify-content-around">
              <a [routerLink]="['/empleados/', employee._id]" class="col-3 btn p-0" style="width: auto">
                <span class="material-icons-outlined pt-1 text-primary"
                  >edit</span
                >
              </a>
              <button class="col-3 btn p-0" style="width: auto" (click)="delete(employee._id)">
                <span class="material-icons-outlined pt-1 text-danger"
                  >remove_circle</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
